.venv/
__pycache__/
node_modules/
static/styles/
static/scripts/
.env
db.sqlite3
.DS_Store
*.pdf
staticfiles/
.idea/
.sql/
backup.sql

.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform.tfvars
